<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://app-voya-poc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/635f7d5b-4fd3-47c3-a9e9-57b47433ad43/resourceGroups/SK_VOYA/providers/Microsoft.Web/sites/app-voya-poc</ResourceId>
    <UserName>$app-voya-poc</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://app-voya-poc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>